body, * {
	margin: 0;
	padding: 0;
}

div {
	position: absolute;
}

#main {
	background-color: #1e354f;
	overflow: hidden;
}

#shoeContainer {
	top: 50%;
	left: 50%;
	//transform: translate(-50%, -50%);
}

#btn3 {
	border-radius: 50%;
}

#nav {
	width: 1000px;
	height: 40px;
	bottom: 80px;
	left: 50%;
	transform: translate(-50%);
	//background-color: fuchsia;

	#line {
		width: 1000px;
		height: 4px;
		top: 18px;
		background-color: #FFF;
	}
}

#hit1 {
	left: 45px;
}

#hit2 {
	left: 50%;
	transform: translate(-50%);
}

#hit3 {
	right: 45px;
}

.hit {
	top: 5px;
	width: 30px;
	height: 30px;
	background-color: #cbd036;
}

#logo {
	//496 88
	top: 80px;
	left: 80px;

	width: 496 / 2048 * 100%;
	height : 88 / 1200 * 100%;

	max-width: 496px;
	max-height: 88px;

	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

#logo_2 {
	//496 88
	bottom: 80px;
	right: 80px;

	width: 149 / 2048 * 100%;
	height : 68 / 1200 * 100%;

	max-width: 149px;
	max-height: 68px;

	background-image: url(logo_2.png);
	background-repeat: no-repeat;
	background-size: contain;
}

#cta {
	// 411 105
	top: 200px;
	left: 80px;

	width: 411 / 2048 * 100%;
	height : 105 / 1200 * 100%;

	max-width: 411px;
	max-height: 105px;

	background-image: url(cta.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.hotspot {
	width: 90px;
	height: 90px;
	background-image: url(hotspot.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.hotspot.g1.s1 {
	top: 380px;
	left: 300px;
}

.hotspot.g1.s2 {
	top: 330px;
	left: 625px;
}

.hotspot.g1.s3  {
	top: 225px;
	left: 725px;
}

//

.hotspot.g2.s1 {
	top: 300px;
	left: 300px;
}

.hotspot.g2.s2 {
	top: 270px;
	left: 555px;

}

.hotspot.g2.s3  {
	top: 360px;
	left: 595px;
}

//

.hotspot.g3.s1 {
	top: 220px;
	left: 500px;
}

.hotspot.g3.s2 {
	top: 430px;
	left: 460px;
}

.hotspot.g3.s3  {
	top: 440px;
	left: 570px;
}

.hotspot.g3.s4  {
	top: 530px;
	left: 450px;
}

.g1 {
	//opacity: 1;
}

.g2 {
	//opacity: 0;
}

.g3 {
	//opacity: 0;
}

.txt.tg1.c1 {
	top: 320px;
	left: 90px;
	width: 269px;
	height: 101px;
	background-image: url(hs_txt_1_1.png);
}

.txt.tg1.c2 {
	top: 470px;
	left: 720px;
	width: 413px;
	height: 152px;
	background-image: url(hs_txt_1_2.png);
}

.txt.tg1.c3 {
	top: 200px;
	left: 830px;
	width: 366px;
	height: 122px;
	background-image: url(hs_txt_1_3.png);
}

//

.txt.tg2.c1 {
	top: 340px;
	left: -20px;
	width: 293px;
	height: 179px;
	background-image: url(hs_txt_2_1.png);
}

.txt.tg2.c2 {
	top: 120px;
	left: 630px;
	width: 350px;
	height: 118px;
	background-image: url(hs_txt_2_2.png);
}

.txt.tg2.c3 {
	top: 420px;
	left: 770px;
	width: 366px;
	height: 122px;
	background-image: url(hs_txt_2_3.png);
}

//

.txt.tg3.c1 {
	top: 200px;
	left: 670px;
	width: 336px;
	height: 127px;
	background-image: url(hs_txt_3_1.png);
}

.txt.tg3.c2 {
	top: 440px;
	left: 120px;

	width: 326px;
	height: 128px;
	background-image: url(hs_txt_3_2.png);
}

.txt.tg3.c3 {
	top: 450px;
	left: 670px;
	width: 337px;
	height: 197px;
	background-image: url(hs_txt_3_3.png);
}

.txt.tg3.c4 {
	top: 550px;
	left: 160px;
	width: 292px;
	height: 100px;
	background-image: url(hs_txt_3_4.png);
}

.tg1 {
	opacity: 0;
}

.tg2 {
	opacity: 0;
}

.tg3 {
	opacity: 0;
}

.txt {
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
}




















//
